body {
    background-color: #141414;
    color: #aea897;
    text-align: center;
    font-size: 100px;
}

#myButton {
    font-size: 30px;
    margin-top: 90px;
    padding: 10px;
    border-radius: 10px;
    border-color: transparent;
}

#myButton:hover {
    transform: translateY(-1.5px);
    cursor: pointer;
    box-shadow: 1px 1px 7px rgb(220, 220, 220);
}